<header class="fullscreen-element">
				<div class="background-image-holder parallax-background overlay" data-stellar-background-ratio="0.9">
					<%= image_tag('bg-top.jpg', class: 'background-image', alt:'Background') %>
				</div>

				<div class="container align-vertical hero">
					<div class="row">
						<div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7 text-left">
							<h1>Viziit</h1>
							<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
							<div class="button-group">
								<%= link_to 'Shop Now', root_path, class: 'btn btn-primary' %>
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</header>

			<div class="action-bar">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<a href="#"><span data-icon="v" class="icon"></span> <span class="text">Fast Delivery</span></a>
						</div>
						<div class="col-sm-4">
							<a href="#"><span data-icon="/" class="icon"></span> <span class="text">Adjustable</span></a>
						</div>
						<div class="col-sm-4">
							<a href="#"><span data-icon="7" class="icon"></span> <span class="text">Inovative</span></a>
						</div>
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div>

			<section>
				<div class="background-image-holder overlay" data-stellar-background-ratio="0.9">
					<%= image_tag('bg-top.jpg', class: 'background-image', alt:'Background')%>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-5 text-left">
							<h2 class="page-title">For your familly</h2>
							<p class="description">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
							<a href="#" class="btn btn-primary">Shop Now</a>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>

			<section class="products-grid">
				<div class="container">
					<div class="row products-container">
						<div class="col-md-4 col-sm-6 col-xs-12 product">
							<div class="thumbnail" style="background-image: url('/assets/products/1.jpg');">
								<div class="product-details text-center">
									<div class="align-vertical">
										<h3>Power Banks</h3>
										<%= link_to root_path, class: 'btn btn-primary' do %>
										<i class="fa fa-shopping-cart"></i> Add to cart
										<% end %>
										<p class="product-price">RM90</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 product">
							<div class="thumbnail" style="background-image: url('/assets/products/2.jpg');">
								<div class="product-details text-center">
									<div class="align-vertical">
										<h3>Phone Holder</h3>
										<%= link_to root_path, class: 'btn btn-primary' do %>
										<i class="fa fa-shopping-cart"></i> Add to cart
										<% end %>
										<p class="product-price">RM90</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 product">
							<div class="thumbnail" style="background-image: url('/assets/products/3.jpg');">
								<div class="product-details text-center">
									<div class="align-vertical">
										<h3>Ear Phones</h3>
										<%= link_to root_path, class: 'btn btn-primary' do %>
										<i class="fa fa-shopping-cart"></i> Add to cart
										<% end %>
										<p class="product-price">RM90</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6 col-xs-12 product">
							<div class="thumbnail" style="background-image: url('/assets/products/4.jpg');">
								<div class="product-details text-center">
									<div class="align-vertical">
										<h3>USB Cable</h3>
										<%= link_to root_path, class: 'btn btn-primary' do %>
										<i class="fa fa-shopping-cart"></i> Add to cart
										<% end %>
										<p class="product-price">RM90</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 product">
							<div class="thumbnail" style="background-image: url('/assets/products/5.jpg');">
								<div class="product-details text-center">
									<div class="align-vertical">
										<h3>Phone Casing</h3>
										<%= link_to root_path, class: 'btn btn-primary' do %>
										<i class="fa fa-shopping-cart"></i> Add to cart
										<% end %>
										<p class="product-price">RM90</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 product">
							<div class="thumbnail" style="background-image: url('/assets/products/6.jpg');">
								<div class="product-details text-center">
									<div class="align-vertical">
										<h3>Orange chair</h3>
										<%= link_to root_path, class: 'btn btn-primary' do %>
										<i class="fa fa-shopping-cart"></i> Add to cart
										<% end %>
										<p class="product-price">RM90</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6 col-xs-12 product">
							<div class="thumbnail" style="background-image: url('/assets/products/1.jpg');">
								<div class="product-details text-center">
									<div class="align-vertical">
										<h3>Sofa</h3>
										<%= link_to root_path, class: 'btn btn-primary' do %>
										<i class="fa fa-shopping-cart"></i> Add to cart
										<% end %>
										<p class="product-price">RM90</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 product">
							<div class="thumbnail" style="background-image: url('/assets/products/3.jpg');">
								<div class="product-details text-center">
									<div class="align-vertical">
										<h3>Yellow chair</h3>
										<%= link_to root_path, class: 'btn btn-primary' do %>
										<i class="fa fa-shopping-cart"></i> Add to cart
										<% end %>
										<p class="product-price">RM90</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 product">
							<div class="thumbnail" style="background-image: url('/assets/products/4.jpg');">
								<div class="product-details text-center">
									<div class="align-vertical">
										<h3>Clasic chair</h3>
										<%= link_to root_path, class: 'btn btn-primary' do %>
										<i class="fa fa-shopping-cart"></i> Add to cart
										<% end %>
										<p class="product-price">RM90</p>
									</div>
								</div>
							</div>
						</div>
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

			<section>
				<div class="background-image-holder on-page overlay">
					<%= image_tag('bg-top.jpg', class: 'background-image', alt:'Background') %>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-5 col-sm-offset-7 text-right">
							<h2 class="page-title">Modern Chair<span class="accent-color">.</span></h2>
							<p class="description">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
							<%= link_to 'Shop Now', root_path, class: 'btn btn-primary'%>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>